<br>
<div class="container ">
    <div class="col-md-1">  <h4><a href="#/spacetree" class="btn btn-primary"> Back</a></h4></div>
    <div class="col-md-11">   <h4 class="text-center"> <b>Efficiency Profile of <span class="font_blue">John</span> for 12.11.2015 to 14.11.2015<b></b></h4></div>
</div>
<hr>


<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading text-center"><b>DEFECTS</b></div>
                <div class="panel-body">
                    <table class="table table-striped">
                        <thead>
                        <tr class="font_blue">
                            <th>Total Number</th>
                            <th>Task</th>

                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td> 1422</td>
                            <td>Assigned</td>
                        </tr>
                        <tr>
                            <td>11990</td>
                            <td>Resolved</td>
                        </tr>
                        <tr>
                            <td> 1883</td>
                            <td>Resolved</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading text-center"><b>ATTENDANCE</b></div>
                <div class="panel-body">
                    <table class="table table-striped">
                        <thead>
                        <tr class="font_blue">
                            <th>Date</th>
                            <th>Hours</th>

                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>12.11.2015</td>
                            <td>4.5 hours<br>
                                10.00-12.30<br>14.00-16.00
                            </td>

                        </tr>
                        <tr>
                            <td>13.11.2015</td>
                            <td>1.25 hours<br>
                                10.00-11.30<br> 
                            </td>

                        </tr>
                        <tr>
                            <td>14.11.2015</td>
                            <td>2 hours<br>
                                10.00-11.30<br>14.30-15.00
                            </td>

                        </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading text-center"><b>
                    SAP ACTIVITY</b></div>
                <div class="panel-body">
                    <table class="table table-striped text-left img-thumbnail">
                        <thead>
                        <tr>

                            <h5> Changes by User ECC0458</h5>

                        </tr>
                        <tr class="font_blue">
                            <th>Date Change:</th>
                            <th>Object</th>
                            <th>Object Name</th>
                            <th colspan="5" class="text-center">Change Description</th>

                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td> 12.11.2015</td>
                            <td> PROG</td>
                            <td>ZCHARLIE</td>
                            <td></td>
                            <td>INSERT     13 *coommnet<br>DELETE     14 WRITE : 'Hi*'.</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>13.11.2015</td>
                            <td>PROG</td>
                            <td>ZTESTCHARLIE</td>
                            <td></td>
                            <td>INSERT 14 write: 'whats news'. "change<br>INSERT 15 write: 'todaay'.
                            </td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>                        
                        <tr>
                            <td>14.11.2015</td>
                            <td>TABL</td>
                            <td> ZLTWORK_USER</td>
                            <td></td>
                            <td>DELETED: Field AGE</td>
                            <td></td>
                            <td></td>
                            <td></td>

                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>

                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>

                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>

                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>


                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>